 {% extends 'layout.html' %}

{% load static %}

{% block body %}

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Our Products</span>
          <h1 class="text-capitalize mb-5 text-lg">Deal in Products</h1>
            <span class="text-white">Place to be for your Bio-Tech Hospital Products</span>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row">
            {% for product in products %}
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{{ product.image.url }}" alt="{{ product.title }} Image" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">{{ product.title }}</h4>
						<p class="mb-4">{{ product.description}}</p>
                        <a href="{% url 'BioTech_App:product_detail' product.id %}" class="btn btn-main-2 btn-round-full">More Details<i class="icofont-simple-right  ml-2"></i></a>
					</div>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>

</section>
<section class="section cta-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="cta-content">
					<div class="divider mb-4"></div>
					<h2 class="mb-5 text-lg">We are pleased to offer you <span class="title-color">super efficient Technology equipment</span></h2>
					<a href="{% url 'BioTech_App:appointment' %}" class="btn btn-main-2 btn-round-full">Want to make a Personal Visit<i class="icofont-simple-right  ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

 {% endblock %}