 {% extends 'layout.html' %}

{% load static %}

{% block body %}


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">News details</span>
          <h1 class="text-capitalize mb-5 text-lg">{{ blog.name }}</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section blog-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
	<div class="col-lg-12 mb-5">
		<div class="single-blog-item">
			<img src="{{blog.image.url}}" alt="{{ blog_detail.intro }} Image" class="img-fluid">

			<div class="blog-item-content mt-5">
                <div class="blog-item-meta mb-3">
                    <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
                    <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>{{ blog_detail.blog.comments.count }} Comments</span>
                    <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
                </div>

                <h2 class="mb-4 text-md"><a href="{% url 'BioTech_App:blog_single' blog.id %}">{{ blog_detail.blog.definition }}</a></h2>

                <p class="lead mb-4">{{ blog_detail.intro }}</p>

                <p>{{ blog_detail.intro_detail }}</p>

                <blockquote class="quote">
                    {{ blog_detail.quote }}
                </blockquote>

                <p class="lead mb-4 font-weight-normal text-black">{{ blog_detail.quote_expl }}</p>

                <p>{{ blog_detail.more_cont }}</p>

				<div class="mt-5 clearfix">
				    <ul class="float-left list-inline tag-option"> 
				    	<li class="list-inline-item"><a href="#">Consultation</a></li>
				    	<li class="list-inline-item"><a href="#">Mental Health</a></li>
				    	<li class="list-inline-item"><a href="#">Treatment</a></li>
				   	</ul>        

				    <ul class="float-right list-inline">
				        <li class="list-inline-item"> Share: </li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="icofont-facebook" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="icofont-twitter" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="icofont-pinterest" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a href="#" target="_blank"><i class="icofont-linkedin" aria-hidden="true"></i></a></li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
        <div class="comment-area mt-4 mb-5">
            <h4 class="mb-4"> Comments on {{ blog.name }} </h4>
            <ul class="comment-tree list-unstyled">
                    <li class="mb-5">
                        <div class="comment-area-box">
                            <div class="comment-thumb float-left">
                                <img alt="" src="{{ comment_detail.image.url }}" class="img-fluid">
                            </div>

                            <div class="comment-info">
                                <h5 class="mb-1">{{ comment_detail.name }}</h5>
                                <span>{{ comment_detail.country }}</span>
                                <span class="date-comm">| Posted {{ comment_detail.date_posted }}</span>
                            </div>
                            <div class="comment-meta mt-2">
                                <a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
                            </div>

                            <div class="comment-content mt-3">
                                <p>{{ comment_detail.message }}</p>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
                    <a href="{% url 'BioTech_App:blog_sidebar' %}" class="btn btn-main-2 btn-round-full">Back To MainPage<i class="icofont-simple-right ml-2"></i></a>
                    <p>....</p>
                    <a href="{% url 'BioTech_App:index' %}" class="btn btn-main-2 btn-round-full">Back To HomePage<i class="icofont-simple-right ml-2"></i></a>

	<div class="col-lg-12">
		<form class="comment-form my-5" id="comment-form">
			<h4 class="mb-4">Write a comment</h4>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
                        <label class="text-black" for="name"></label>
						<input class="form-control" type="text" name="name" id="name" placeholder="Name:">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
                        <label class="text-black" for="mail"></label>
						<input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
					</div>
				</div>
			</div>

            <label class="text-black" id="comment" for="comment"></label>
			<textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>

			<input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
		</form>
	</div>
</div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	<div class="sidebar-widget search  mb-3 ">
		<h5>Search Here</h5>
		<form action="#" class="search-form">
            <label class="text-black" for="search"></label>
			<input type="text" id="search" class="form-control" placeholder="search">
			<i class="ti-search"></i>
		</form>
	</div>


	<div class="sidebar-widget latest-post mb-3">
		<h5>Popular Posts</h5>

        <div class="py-2">
        	<span class="text-sm text-muted">03 Mar 2018</span>
            <h6 class="my-2"><a href="{% url 'BioTech_App:department' %}">Profound Services in Alynos-Kenya</a></h6>
        </div>

        <div class="py-2">
       		<span class="text-sm text-muted">07 June 2021</span>
            <h6 class="my-2"><a href="{% url 'BioTech_App:doctor' %}">Best Doctors in Alynos.</a></h6>
        </div>

        <div class="py-2">
        	<span class="text-sm text-muted">03 Mar 2018</span>
            <h6 class="my-2"><a href="{% url 'BioTech_App:product_list' %}">Top Notch Products in Alynos BioTech-Kenya</a></h6>
        </div>
	</div>

	<div class="sidebar-widget category mb-3">
		<h5 class="mb-4">Categories</h5>

		<ul class="list-unstyled">
		  <li class="align-items-center">
		    <a href="{% url 'BioTech_App:department_single' department_id=4 %}">Medicine & Health</a>
		    <span>(14)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="{% url 'BioTech_App:product_list' %}">Equipments/Products</a>
		    <span>(2)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="{% url 'BioTech_App:department_single' department_id=2 %}">Heart Surgery</a>
		    <span>(10)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="{% url 'BioTech_App:blog_single' blog_id=3 %}">Free counselling</a>
		    <span>(5)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="{% url 'BioTech_App:blog_single' blog_id=2 %}">Lab test</a>
		    <span>(5)</span>
		  </li>
		</ul>
	</div>


	<div class="sidebar-widget tags mb-3">
		<h5 class="mb-4">Tags</h5>

		<a href="{% url 'BioTech_App:doctor' %}">Doctors</a>
		<a href="{% url 'BioTech_App:index' %}">Agency</a>
		<a href="{% url 'BioTech_App:about' %}">Company</a>
		<a href="{% url 'BioTech_App:department_single' department_id=4%}">Medicine</a>
		<a href="{% url 'BioTech_App:department_single' department_id=7 %}">Surgery</a>
		<a href="{% url 'BioTech_App:product_list' %}">Marketing</a>
	</div>


	<div class="sidebar-widget schedule-widget mb-3">
		<h5 class="mb-4">Time Schedule</h5>

		<ul class="list-unstyled">
		  <li class="d-flex justify-content-between align-items-center">
		    <a href="#">Monday - Friday</a>
		    <span>9:00 - 17:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <a href="#">Saturday</a>
		    <span>9:00 - 16:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		    <a href="#">Sunday</a>
		    <span>Closed</span>
		  </li>
		</ul>

		<div class="sidebar-contatct-info mt-4">
			<p class="mb-0">Need Urgent Help?</p>
			<h3>+254-746-657 905</h3>
		</div>
	</div>

</div>
            </div>   
        </div>
    </div>
</section>

 {% endblock %}


