{%extends 'layout.html' %}

{% load static %}

{% block body %}

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">All Department</span>
          <h1 class="text-capitalize mb-5 text-lg">Our Services'-Departments</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section service-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award-winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Alynos is dedicated to providing a comprehensive range of high-quality services in the field of healthcare and biotechnology.
                        Our commitment is centered around delivering innovative solutions and cutting-edge technologies to enhance patient care, research, and medical advancements.
                        Below is an overview of the key services offered by Alynos-Kenya:</p>
				</div>
			</div>
		</div>

		<div class="row">
            {% for department in departments %}
			<div class="col-lg-4 col-md-6 ">
				<div class="department-block mb-5">
					<img src="{{department.image.url}}" alt="{{ department.name }} Image" class="img-fluid w-100">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">{{ department.name }}</h4>
						<p class="mb-4">{{ department.description}}.</p>
						<a href="{% url 'BioTech_App:department_single' department.id %}" class="read-more">Learn More  <i class="icofont-simple-right ml-2"></i></a>
					</div>
				</div>
			</div>
            {% endfor %}

		</div>
	</div>
</section>

{% endblock %}
